<div>
  <h1 class="title">
    Hi there!
  </h1>
  <p class="subtitle">
    I've completed tasks
  </p>
  <ul>
    <li>
      <a href="/bacon">Bacon Task</a>
    </li>
    <li>
      <a href="/checkout">Checkout</a>
    </li>
  </ul>
</div>

